$header-height: 64px;

// border radius
$br-xs: 4px;
$br-sm: 8px;
$br-md: 12px;
$br-lg: 16px;
$br-xl: 20px;

// gap
$gap-xs: 5px;
$gap-sm: 10px;
$gap-md: 15px;
$gap-lg: 20px;
$gap-xl: 25px;

// font-size
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 22px;
