@use '../../../../styles/util' as *;

.root {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1760px;
  padding: 56px;
  text-align: center;
  border-radius: 24px;
  background: var(--md-sys-color-secondary-container);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  @include breakpoint(xl) {
    min-height: 520px;
    padding: 32px;
  }
  @include breakpoint-down(sm) {
    padding: 32px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    min-height: unset;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h2 {
        margin-bottom: 8px;
        font-size: 112px;
        line-height: 1;
        font-weight: 400 !important;
        @include breakpoint-down(lg) {
          font-size: 88px;
          line-height: 96px;
        }
        @include breakpoint-down(md) {
          font-size: 52px;
          line-height: 64px;
        }
        @include breakpoint-down(sm) {
          font-size: 36px;
          line-height: 52px;
        }
      }

      .description {
        max-width: 840px;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        @include breakpoint-down(md) {
          font-size: 18px;
          line-height: 26px;
        }
        @include breakpoint-down(sm) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      h2,
      .description {
        color: var(--md-sys-color-on-secondary-container);
      }
    }

    button {
      height: 64px;
      margin-top: 24px;
      padding: 0 32px;
      border-radius: 48px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      @include breakpoint-down(sm) {
        height: 48px;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
