@use '../../../../styles/util' as *;

.root {
    .textareaWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 32px 0 24px;

        @include breakpoint(md) {
            margin: 48px 0 32px;
        }

        .writingHeader {
            background-color: transparent;
            max-width: 656px;
            width: 100%;
            padding: 0;
            border: none;
            resize: none;
            outline: 0 !important;
            font-size: 32px;
            line-height: 1.3em;

            font-weight: 700;
            color: currentColor;
            @include breakpoint-down(md) {
                font-size: 24px;
            }

            &::placeholder {
                color: var(--md-sys-color-secondary-text);
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    :global {
        .ce-header {
            margin-bottom: 24px;
            padding: 0;
            font-size: 22px;
            font-weight: 700;

            &::placeholder {
                font-weight: 700;
            }
        }

        .codex-editor__redactor {
            font-size: 16px;
            word-break: break-word;
            .ce-block {
                &__content {
                    max-width: 752px;
                }
                &--selected {
                    .ce-block__content {
                        background-color: var(--md-sys-color-secondary-container);
                    }
                }
            }
        }
        .ce-toolbar {
            &__content {
                max-width: 752px;

                .ce-toolbar__actions {
                    opacity: 1;

                    .ce-toolbar__plus,
                    .ce-toolbar__settings-btn {
                        color: currentColor;

                        &:hover {
                            background-color: rgba(
                                var(--md-sys-color-secondary-containerChannel),
                                calc(1 - var(--md-sys-state-hover-state-layer-opacity))
                            );

                            .icon {
                                color: var(--md-sys-color-on-secondary-container);
                            }
                        }
                    }
                    .ce-toolbar__plus {
                        width: 32px;
                        height: 32px;
                        border: none;
                        border-radius: 50%;
                        box-shadow: none;
                        background-color: var(--md-sys-color-secondary-container);

                        .icon {
                            color: var(--md-sys-color-on-secondary-container);
                        }
                    }
                    .ce-toolbar__settings-btn {
                    }

                    .ce-toolbox {
                        left: 50px;
                        top: -24px;

                        .ce-popover {
                            width: unset;
                            background-color: var(--md-sys-color-on-secondary);
                            border: none;
                            @media (min-width: 651px) {
                                box-shadow: unset;
                                background-color: unset;
                                border: unset;
                                padding: 12px;
                            }

                            .cdx-search-field {
                                display: none;
                            }

                            &__items {
                                display: flex;
                                gap: 8px;
                                flex-wrap: wrap;
                                align-items: flex-start;

                                @media (min-width: 651px) {
                                    flex-wrap: nowrap;
                                }

                                .ce-popover__item {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    flex-basis: 30%;

                                    &:hover {
                                        background-color: unset;
                                        color: var(--md-sys-color-on-secondary);

                                        .ce-popover__item-icon {
                                            border-color: unset;
                                        }

                                        .ce-popover__item-label {
                                            visibility: visible;
                                            color: var(--md-sys-color-on-secondary-container);
                                        }
                                    }

                                    &--focused {
                                        background-color: unset !important;
                                        box-shadow: unset;
                                    }

                                    &-label {
                                        margin-top: 8px;
                                        font-size: 14px;
                                        @media (min-width: 651px) {
                                            visibility: hidden;
                                            position: absolute;
                                            bottom: -2px;
                                            justify-content: center;
                                            font-size: 12px;
                                            font-weight: 600;
                                        }

                                        &::after {
                                            content: unset;
                                        }
                                    }
                                    &-icon {
                                        margin: 0;
                                        width: 40px;
                                        height: 40px;
                                        background-color: inherit;
                                        color: var(--md-sys-color-on-secondary-container);
                                        border: none;
                                        border-radius: 50%;
                                        background-color: var(--md-sys-color-secondary-container);
                                        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

                                        &:hover {
                                            background-color: rgba(
                                                var(--md-sys-color-secondary-containerChannel),
                                                calc(1 - var(--md-sys-state-pressed-state-layer-opacity))
                                            );
                                            color: var(--md-sys-color-on-secondary-container);
                                        }

                                        svg {
                                            height: 16px;
                                            width: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .ce-settings {
                        color: currentColor;
                        background-color: var(--md-sys-color-surface);

                        .icon {
                            color: var(--md-sys-color-primary);
                        }
                        border: none;

                        &__button,
                        .cdx-settings-button {
                            color: currentColor;

                            &:hover {
                                background-color: rgba(
                                    var(--md-sys-color-secondary-containerChannel),
                                    calc(1 - var(--md-sys-state-hover-state-layer-opacity))
                                );

                                .icon {
                                    color: var(--md-sys-color-on-secondary-container);
                                }
                            }
                        }
                    }
                }
            }
        }

        .codex-editor--toolbox-opened .ce-toolbar--opened {
            .ce-toolbar__plus {
                background-color: rgba(
                    var(--md-sys-color-secondary-containerChannel),
                    calc(1 - var(--md-sys-state-pressed-state-layer-opacity))
                );

                .icon {
                    color: var(--md-sys-color-on-secondary-container);
                }
            }
        }
    }
}
