@use '../../../../scss/util' as *;

.root {
    position: absolute;
    top: 60px;
    width: 420px;
    max-height: 640px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: var(--md-sys-color-surface);
    box-shadow: var(--md-sys-elevation-4);
    z-index: 1000;
    @include breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: unset;
        overflow: auto;
        border-radius: unset;
    }

    .popoverPanel {
        .panelTop {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            padding: 16px;
            border-bottom: 1px solid var(--md-sys-color-outline-variant);

            .panelClose {
                position: absolute;
                right: 0;
            }

            .panelHeadline {
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                color: var(--md-sys-color-primary);

                @include breakpoint-down(md) {
                    font-size: 16px;
                    text-align: center;
                    margin-left: 4px;
                    margin-bottom: unset;
                }
            }
        }

        .notificationList {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
        }

        .buttonMore {
            margin: 0 auto;
        }
    }
}
