@use '../../../styles/util' as *;

.root {
  .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 64px 40px;
    @include breakpoint(sm) {
      max-width: 1240px;
    }

    .about,
    .legal {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(lg) {
        flex-wrap: nowrap;
      }
    }

    .about {
      display: flex;
      column-gap: 20px;

      &Company {
        max-width: 570px;

        .logo {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-right: 32px;
          margin-bottom: 16px;

          .companyName {
            font-size: 22px;
            font-weight: 500;
          }
        }

        p {
          margin-top: 24px;
          margin-right: 64px;
          line-height: 1.5;
          @include breakpoint-down(sm) {
            font-size: 14px;
          }
        }
      }

      .social {
        @include breakpoint-down(md) {
          margin-top: 38px;
        }
        label {
          display: block;
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: var(--md-sys-color-on-surface-variant);
          @include breakpoint-down(sm) {
            margin-bottom: 24px;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          @include breakpoint-down(sm) {
            row-gap: 24px;
          }

          li .link {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: var(--md-sys-color-primary);

            &:hover {
              text-decoration: underline;
              color: var(--md-sys-color-on-primary-container);
            }
          }
        }
      }
    }

    .legal {
      display: flex;
      align-items: center;
      column-gap: 32px;
      margin-top: 64px;
      border: none;
      @include breakpoint-down(lg) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }

      .link {
        font-size: 16px;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
