@use '../../../../styles/util' as *;

.plateContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 999;

    .itemHeadline {
        margin-bottom: 8px;
        font-size: 14px;
    }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 64px;
    @include breakpoint-down(sm) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 16px;
    }

    .draftAndSaveButtons {
        display: flex;
        gap: 16px;
    }

    button {
        height: 36px;
    }
}
