.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  border: 2px solid var(--md-sys-color-outline-variant);

  span {
    font-weight: 700;
    font-size: 14px;
  }
}

.small {
  width: 54px;
  height: 54px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.large {
  width: 100%;
  min-height: 56px;
  padding: 15px;

  svg {
    width: 18px;
    height: 18px;
  }
}
