.root {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    transform: translate(-40px, -40px);
    z-index: 2;
}

:global {
    .spectrum-CircleLoader-fill_7c1153 {
        border-color: var(--md-sys-color-primary);
    }
}
