.root {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 8;

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        position: relative;

        .wallpaper {
            background-color: #000;
            position: fixed;
            opacity: 0.9;
            will-change: opacity;
            transition-duration: 0.2s;
            transition-property: opacity;
            transition-timing-function: linear;
        }
    }
}
