@use '../../scss/util' as *;

$infoWidth: 768px;

.root {
    position: relative;

    .container {
        width: 100%;
        padding-top: 120px;
        margin: auto;
        @include breakpoint-down(md) {
            padding-top: 40px;
        }
        @include breakpoint(sm) {
            max-width: 840px;
        }
        @include breakpoint(xl) {
            max-width: 1240px;
        }

        .content {
            position: relative;
            display: flex;
            background-color: var(--md-sys-color-surface1);
            @include breakpoint(lg) {
                max-width: 768px;
                transition: padding 0.4s ease, max-width 0.4s ease;
                transition-delay: 0.25s;
            }

            &Container {
                position: relative;
                display: flex;
                flex-direction: column;

                @include breakpoint-down(lg) {
                    margin: 0 auto;
                }

                .articleDate {
                    text-align: left;
                    font-family: 'Roboto Mono';
                    @include breakpoint-down(sm) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .top {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: $infoWidth;

                    &Content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .articleHeadline {
                            margin: 0;
                            font-size: 64px;
                            line-height: 72px;
                            font-weight: 300 !important;
                            word-break: break-word;
                            @include breakpoint-down(sm) {
                                font-size: 40px;
                                line-height: 48px;
                            }
                            @include breakpoint(xl) {
                                width: 960px;
                            }
                        }

                        .subHeader {
                            display: flex;
                            justify-content: space-between;

                            .readingTime {
                                font-size: 20px;
                                font-weight: 300;
                                @include breakpoint-down(sm) {
                                    font-size: 18px;
                                }
                            }

                            .description {
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                max-height: 144px;
                                margin: 32px 0 40px 0;
                                font-size: 24px;
                                line-height: 36px;
                                font-weight: 300;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                @include breakpoint-down(sm) {
                                    margin: 24px 0 36px 0;
                                    font-size: 24px;
                                    font-weight: 300;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }

                .hero {
                    @include breakpoint(lg) {
                        margin: 64px 0 40px;
                    }
                    figure {
                        @include breakpoint(lg) {
                            margin: 0 -40px;
                        }
                        @include breakpoint(xl) {
                            margin: 0 -80px;
                        }

                        .coverContainer {
                            position: relative;
                            height: fit-content;

                            .articleCover {
                                max-height: 760px;
                                height: auto;
                                max-width: 100%;
                                border-radius: 32px;
                            }
                        }
                    }
                }

                .contentWrapper {
                    max-width: 768px;

                    .button {
                        display: block;
                        position: sticky;
                        bottom: 15px;
                        right: 15px;
                        margin-top: -55px;
                        float: right;
                    }
                }

                .articleContent {
                    line-height: 1.5;
                    word-break: break-word;
                    word-wrap: break-word;

                    .contentBlocks {
                        padding-bottom: 40px;
                        font-family: 'Roboto', 'Arial', sans-serif;

                        h1,
                        h2,
                        h3,
                        p {
                            margin: 1em 0;
                        }

                        h2 {
                            margin-top: 48px;
                            margin-bottom: 16px;
                            font-size: 27px;
                            line-height: 35px;
                            font-weight: 400 !important;
                        }

                        @supports (-webkit-hyphens: none) {
                            h2 {
                                padding-top: 1em;
                                margin-top: -1em;
                            }
                        }

                        h3 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 20px;
                            line-height: 32px;
                        }

                        ul {
                            list-style: disc;
                            margin-bottom: 1.7em;
                            padding-left: 2.5em;
                        }

                        a {
                            border-bottom: 1px solid var(--md-sys-color-primary);
                            color: var(--md-sys-color-primary);
                            text-decoration: none;
                            transition: color 0.25s, border-bottom-color 0.25s;
                        }

                        figure {
                            margin: 56px 0;

                            img {
                                max-height: 960px;
                                height: auto;
                                max-width: 100%;
                                border-radius: 4px;
                            }

                            figcaption {
                                max-width: 728px;
                                margin-top: 10px;
                                margin-left: auto;
                                margin-right: auto;
                                text-align: center;
                                color: var(--md-sys-color-secondary-text);
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom {
        margin: 0 auto;
        @include breakpoint(sm) {
            max-width: 840px;
        }
        @include breakpoint(xl) {
            max-width: 1240px;
        }
    }
}

:global {
    .ce-delimiter {
        line-height: 1.6em;
        width: 100%;
        text-align: center;
        height: 30px;
        border: none;

        &::before {
            display: inline-block;
            content: '***';
            font-size: 30px;
            line-height: 40px;
            height: 30px;
            letter-spacing: 0.2em;
        }
    }
}
