@use '../../scss/util' as *;

$infoWidth: 768px;

.root {
    position: relative;

    .container {
        width: 100%;
        padding: 120px 0 100px;
        margin: auto;

        @include breakpoint-down(sm) {
            padding-top: 20px;
        }
        @include breakpoint(sm) {
            max-width: 840px;
        }
        @include breakpoint(xl) {
            max-width: 1240px;
        }

        .content {
            position: relative;
            display: flex;
            background-color: var(--md-sys-color-surface1);
            @include breakpoint(lg) {
                max-width: 768px;
                transition: padding 0.4s ease, max-width 0.4s ease;
                transition-delay: 0.25s;
            }

            &Container {
                position: relative;
                display: flex;
                flex-direction: column;

                @include breakpoint-down(lg) {
                    margin: 0 auto;
                }

                .articleDate {
                    text-align: left;
                    font-family: 'Roboto Mono';
                    @include breakpoint-down(sm) {
                        font-size: 14px;
                        line-height: 21px;
                    }
                }

                .top {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: $infoWidth;

                    &Content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .articleHeadline {
                            margin: 0;
                            font-size: 84px;
                            line-height: 92px;
                            font-weight: 300 !important;
                            word-break: break-word;
                            @include breakpoint-down(sm) {
                                font-size: 40px;
                                line-height: 52px;
                            }
                            @include breakpoint(xl) {
                                width: 960px;
                            }
                        }

                        .subHeader {
                            display: flex;
                            justify-content: space-between;
                            margin: 32px 0;
                            @include breakpoint-down(sm) {
                                margin: 24px 0 36px;
                            }

                            .readingTime {
                                font-size: 20px;
                                font-weight: 300;
                                @include breakpoint-down(sm) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .authorInfo {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    img {
                        width: 44px;
                        height: 44px;
                    }

                    .authorName {
                        font-size: 22px;
                        font-weight: 500;
                    }

                    .subscribersCount {
                        font-size: 16px;
                    }
                }

                .hero {
                    @include breakpoint(lg) {
                        margin-top: 82px;
                    }
                    figure {
                        @include breakpoint(lg) {
                            margin: 0 -40px;
                        }
                        @include breakpoint(xl) {
                            margin: 0 -80px;
                        }

                        .coverContainer {
                            position: relative;

                            .articleCover {
                                max-height: 960px;
                                height: auto;
                                max-width: 100%;
                                border-radius: 32px;
                            }
                        }
                    }
                }

                .contentWrapper {
                    max-width: 768px;

                    .button {
                        display: block;
                        position: sticky;
                        bottom: 15px;
                        right: 15px;
                        margin-top: -55px;
                        float: right;
                    }
                }

                .articleContent {
                    font-size: $fs-lg;
                    line-height: 1.5;
                    word-break: break-word;
                    word-wrap: break-word;

                    .contentBlocks {
                        padding: 72px 0 56px;

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p {
                            margin: 1em 0;
                        }

                        h2 {
                            scroll-margin-top: 1em;
                            font-size: 40px;
                            font-weight: 300 !important;
                            margin-bottom: 16px;
                        }

                        @supports (-webkit-hyphens: none) {
                            h2 {
                                padding-top: 1em;
                                margin-top: -1em;
                            }
                        }

                        h3 {
                            font-size: 28px;
                        }

                        p {
                            font-size: 22px;
                            font-weight: 300;
                            line-height: 38px;
                            letter-spacing: 0.044px;
                        }

                        ul {
                            list-style: disc;
                            margin-bottom: 1.7em;
                            padding-left: 2.5em;
                        }

                        a {
                            border-bottom: 1px solid var(--md-sys-color-primary);
                            color: var(--md-sys-color-primary);
                            text-decoration: none;
                            transition: color 0.25s, border-bottom-color 0.25s;
                        }

                        img {
                            max-height: 960px;
                            height: auto;
                            max-width: 100%;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}

:global {
    .ce-delimiter {
        line-height: 1.6em;
        width: 100%;
        text-align: center;
        height: 30px;
        border: none;

        &::before {
            display: inline-block;
            content: '***';
            font-size: 30px;
            line-height: 40px;
            height: 30px;
            letter-spacing: 0.2em;
        }
    }
}
