@use '../../scss/util' as *;

$infoWidth: 768px;

:global(.open-sidebar) {
    .shot_content {
        padding-right: 320px;
        max-width: 1676px !important;
    }
}

.root {
    position: relative;
    min-height: calc(100vh - $header-height);

    .shot_container {
        padding: 24px 16px;
        @include breakpoint(lg) {
            padding: unset;
        }

        .shot_content {
            position: relative;
            padding-bottom: 24px;
            display: flex;
            background-color: var(--md-sys-color-surface1);
            @include breakpoint(lg) {
                margin: 0 auto;
                transition: padding 0.4s ease, max-width 0.4s ease;
                transition-delay: 0.25s;
                justify-content: space-evenly;
                max-width: 1536px;
            }

            .shot_content_container {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include breakpoint(lg) {
                    padding: 24px;
                }
                @include breakpoint-down(lg) {
                    margin: 0 auto;
                }

                .top {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: $infoWidth;

                    &__content {
                        display: flex;
                        gap: 12px;
                        max-width: 60%;
                        @include breakpoint(lg) {
                            flex-direction: row;
                        }

                        img {
                            width: 42px;
                            height: 42px;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;

                            .authorName {
                                font-weight: 400;
                            }
                            .readingTime {
                                color: var(--md-sys-color-secondary-text);
                            }
                        }

                        .bottom {
                            display: flex;
                            align-items: center;
                            height: fit-content;

                            .authorNameAndDate {
                                margin-left: 12px;
                                align-items: center;
                                @include breakpoint(lg) {
                                    display: flex;
                                    margin-left: unset;
                                }
                            }

                            .author_name,
                            .date {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .content__wrapper {
                    max-width: 768px;

                    .button {
                        display: block;
                        position: sticky;
                        bottom: 15px;
                        right: 15px;
                        margin-top: -55px;
                        float: right;
                    }
                }
                .content {
                    padding: 25px 0 15px;
                    font-size: $fs-lg;
                    line-height: 1.5;
                    word-break: break-word;
                    word-wrap: break-word;

                    .articleHeadline {
                        margin-top: 24px;
                        font-size: 32px;
                    }

                    img {
                        max-height: 960px;
                        height: auto;
                        max-width: 100%;
                        border-radius: 4px;
                    }

                    &__blocks {
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p {
                            margin: 1em 0;
                        }

                        h2 {
                            scroll-margin-top: 1em;
                            font-size: 22px;
                        }

                        @supports (-webkit-hyphens: none) {
                            h2 {
                                padding-top: 1em;
                                margin-top: -1em;
                            }
                        }

                        h3 {
                            font-size: 18px;
                        }

                        ul {
                            list-style: disc;
                            margin-bottom: 1.7em;
                            padding-left: 2.5em;
                        }

                        a {
                            border-bottom: 1px solid var(--md-sys-color-primary);
                            color: var(--md-sys-color-primary);
                            text-decoration: none;
                            transition: color 0.25s, border-bottom-color 0.25s;
                        }
                    }
                }

                .shot_controls {
                    @include breakpoint(lg) {
                        display: flex;
                        gap: 18px;
                        height: 100%;

                        z-index: 10;
                        align-items: center;
                        opacity: 1;
                    }

                    .buttonGroup {
                        display: flex;
                        margin-left: 0;
                        gap: 16px;

                        span {
                            font-size: 18px;
                        }
                    }
                }

                .shotOther {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    &Container {
                        width: 100%;

                        .articleInfoAndComments {
                            max-width: 1120px;
                            width: 100%;

                            .bottom {
                                width: 100%;

                                .well {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 24px;
                                    width: 100%;
                                    margin-bottom: 24px;
                                    padding: 0 4px 20px 4px;
                                    @include breakpoint-down(lg) {
                                        margin: 0;
                                        padding: 0;
                                    }

                                    .top {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        .articleTitle {
                                            font-size: 18px;
                                        }

                                        .author {
                                            display: flex;
                                            align-items: center;
                                            gap: 12px;

                                            &Info {
                                                display: flex;
                                                flex-direction: column;

                                                .authorName {
                                                    font-size: 16px;
                                                    font-weight: 500;
                                                }

                                                .subscribersCount {
                                                    font-size: 12px;
                                                    color: var(--md-sys-color-on-surface-variant);
                                                }
                                            }
                                        }
                                    }
                                    .dateAndStats {
                                        display: flex;
                                        gap: 8px;
                                        padding: 12px;
                                        border-radius: 12px;
                                        background-color: var(--md-sys-color-surface-variant);
                                        font-weight: 500;

                                        @include breakpoint(lg) {
                                            flex-direction: column;
                                            gap: 0;
                                            padding: 0;
                                            text-align: right;
                                            background-color: unset;
                                        }
                                    }
                                }
                            }
                        }

                        .commentsAndSuggestions {
                            display: flex;
                            justify-content: center;
                            gap: 32px;

                            @include breakpoint-down(lg) {
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
            .authorPanelContainer {
                display: none;
                @include breakpoint(lg) {
                    position: relative;
                    display: block;
                    width: 398px;
                    padding: 0 32px 0 40px;
                    border-left: 1px solid rgba(var(--md-sys-color-on-surfaceChannel) / 0.05);
                }

                .authorPanel {
                    @include breakpoint(lg) {
                        display: flex;
                        flex-direction: column;
                        position: sticky;
                        top: 32px;
                        height: calc(100vh - 40px);
                        margin-top: 40px;
                    }

                    .authorInfo {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        margin-bottom: 48px;

                        .authorName {
                            margin-top: 12px;
                            font-size: 16px;
                            font-weight: 500;
                        }

                        .subscribersCount {
                            font-size: 16px;
                            color: var(--md-sys-color-secondary-text);
                        }

                        .actionButtons {
                            margin-top: 16px;
                        }
                    }
                }
            }
        }
    }
}

:global {
    .ce-delimiter {
        line-height: 1.6em;
        width: 100%;
        text-align: center;
        height: 30px;
        border: none;

        &::before {
            display: inline-block;
            content: '***';
            font-size: 30px;
            line-height: 40px;
            height: 30px;
            letter-spacing: 0.2em;
        }
    }
}
