@use '../../scss/util' as *;

$infoWidth: 768px;

.root {
    min-height: calc(100vh - $header-height);
    background-color: var(--spectrum-well-background-color);
    .shot_container {
        .shot_content {
            padding: 20px 16px;
            position: relative;

            @include breakpoint(lg) {
                padding: 20px 120px;
                transition: padding 0.25s linear;
                transition-delay: 0.15s;
            }

            .shot_content_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 1172px;
                margin: 0 auto;

                .top {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: $infoWidth;

                    &__content {
                        display: flex;
                        gap: 12px;
                        max-width: 60%;
                        @include breakpoint(lg) {
                            flex-direction: row;
                        }

                        img {
                            width: 42px;
                            height: 42px;
                        }

                        .text {
                            width: 100%;

                            .article_title {
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                            }

                            .authorName {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }

                        .bottom {
                            display: flex;
                            align-items: center;
                            height: fit-content;

                            .authorNameAndDate {
                                margin-left: 12px;
                                align-items: center;
                                @include breakpoint(lg) {
                                    display: flex;
                                    margin-left: unset;
                                }
                            }

                            .author_name,
                            .date {
                                font-size: 14px;
                            }
                        }
                    }

                    .controls {
                        position: relative;
                        button {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }
                .content__wrapper {
                    max-width: 752px;

                    .button {
                        display: block;
                        position: sticky;
                        bottom: 15px;
                        right: 15px;
                        margin-top: -55px;
                        float: right;
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding: 25px 0 35px;
                    font-size: $fs-lg;
                    line-height: 1.5;
                    word-break: break-word;
                    word-wrap: break-word;

                    img {
                        max-width: 100%;
                        border-radius: 4px;
                    }

                    &__blocks {
                        display: flex;
                        flex-direction: column;
                        img {
                            max-height: 400px;
                            object-fit: cover;
                        }

                        h2,
                        h3,
                        h4 img,
                        p {
                            margin: 1em 0;
                        }
                        ul {
                            list-style: disc;
                            margin-bottom: 1.7em;
                            padding-left: 2.5em;
                        }

                        a {
                            border-bottom: 1px solid var(--spectrum-global-color-blue-500);
                            color: var(--spectrum-global-color-blue-500);
                            text-decoration: none;
                            transition: color 0.25s, border-bottom-color 0.25s;
                        }
                    }

                    .img__wrapper {
                    }
                }

                .bottomInfo {
                    max-width: $infoWidth;
                    width: 100%;

                    .well {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        width: 100%;
                        padding: 20px;

                        .articleTitle {
                            font-size: 18px;
                        }

                        .dateAndStats {
                            display: flex;
                            justify-content: space-between;
                        }

                        .date {
                            font-weight: 600;
                        }

                        .author {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .authorName {
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .shot_sidebar {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    z-index: 2;

                    .shot_controls_wrapper {
                        position: absolute;
                        top: 0;
                        right: 40px;
                        box-sizing: border-box;
                        height: 100%;
                        padding: 40px 0;
                        @include breakpoint(lg) {
                            padding-top: 60px;
                        }

                        .shot_controls {
                            @include breakpoint(lg) {
                                display: flex;
                                position: sticky;
                                gap: 18px;
                                z-index: 10;
                                top: 40px;
                                flex-direction: column;
                                align-items: center;
                                transform: translateX(0);
                                opacity: 1;
                                will-change: transform;
                            }

                            .buttonGroup {
                                display: flex;
                                flex-direction: column;
                                margin-left: 0;

                                button {
                                    width: 45px;
                                    height: 45px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

:global {
    .ce-delimiter {
        line-height: 1.6em;
        width: 100%;
        text-align: center;
        height: 30px;
        border: none;

        &::before {
            display: inline-block;
            content: '***';
            font-size: 30px;
            line-height: 40px;
            height: 30px;
            letter-spacing: 0.2em;
        }
    }

    .cdx-list {
    }
}
