@use '../../scss/util' as *;

.root {
    padding: 30px 0;

    .top {
        display: flex;
        justify-content: space-between;
        &__content {
            display: flex;
            gap: $gap-lg;
            img {
                width: 48px;
                height: 48px;
            }
            .content__text {
                .headline {
                    font-weight: 500;
                    margin-bottom: 7px;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 45px 0 35px;
        font-size: $fs-lg;
        line-height: 1.5;
        word-break: break-word;
        word-wrap: break-word;

        &__blocks {
            display: flex;
            flex-direction: column;
            img {
                max-height: 400px;
                object-fit: cover;
            }

            h2,
            h3,
            h4 img,
            p {
                margin: 1em 0;
            }
            ul {
                list-style: disc;
                margin-bottom: 1.7em;
                padding-left: 2.5em;
            }

            a {
                border-bottom: 1px solid var(--spectrum-global-color-blue-500);
                color: var(--spectrum-global-color-blue-500);
                text-decoration: none;
                transition: color 0.25s, border-bottom-color 0.25s;
            }
        }

        .img__wrapper {
        }
    }
}

:global {
    .ce-delimiter {
        line-height: 1.6em;
        width: 100%;
        text-align: center;
        height: 30px;
        border: none;

        &::before {
            display: inline-block;
            content: '***';
            font-size: 30px;
            line-height: 40px;
            height: 30px;
            letter-spacing: 0.2em;
        }
    }

    .cdx-list {
    }
}
