@use '../util' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Roboto', sans-serif !important;
    transition: all 0.3s linear;
}

body,
#App,
.container {
    height: 100%;
}

main {
    height: 100%;
}

body {
    touch-action: pan-x pan-y;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

span {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 700 !important;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

ul {
    list-style: none;
}

button {
    background-color: unset;
    border: none;
    width: fit-content;
    cursor: pointer;
    color: var(--md-sys-color-on-surface);
}

input {
    outline: none !important;
    color: var(--md-sys-color-on-surface);

    &::placeholder {
        color: var(--md-sys-color-on-surface);
    }
}

textarea {
    font-family: Roboto, sans-serif;
    color: var(--md-sys-color-on-surface);

    &::placeholder {
        color: var(--md-sys-color-on-surface);
    }
}

// // Helper classes

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;

    @include breakpoint(lg) {
        padding: 0 24px;
    }
}

.container-720 {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
}

.overlay {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.32);
}

.articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

    &__list {
        display: grid;
        flex-wrap: wrap;
        gap: 8px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

        @media (min-width: 1600px) {
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        }
    }

    .appreciated__list {
        display: grid;
        flex-wrap: wrap;
        gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
}

.circle-center {
    display: flex;
    justify-content: center;
}

.hidden {
    overflow: 0;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

// label
.field-label {
    display: block;
    padding: 4px 0 5px;
    font-size: $fs-xs;
    font-weight: 500;
    line-height: 1.3;
}
.error-label {
    padding-top: 8px;
    color: var(--md-sys-color-error);
    font-size: 14px;
}

.text-field {
    width: 100%;
    height: 28px;
    font-size: 16px;
    line-height: 1.15;
    padding: 0;
    border-color: var(--md-sys-color-outline-variant);
    border-width: 0 0 1px;
    outline: 0;
    background-color: var(--md-sys-color-surface);
    transition: border-color 0.13s ease-in-out, box-shadow 0.13s ease-in-out,
        -webkit-box-shadow 0.13s ease-in-out;

    &:focus {
        outline: none;
        border-color: var(--md-sys-color-primary);
        -webkit-box-shadow: 0 1px 0 var(--link-color);
        box-shadow: 0 1px 0 var(--md-sys-color-primary);
    }

    &.is-invalid,
    &.is-valid {
        background-repeat: no-repeat;
        background-position: 99% 50%;
    }

    &.is-invalid {
        padding-right: 41px;
        border-color: var(--md-sys-color-error);
        background-size: 18px 18px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18' width='18'%3E%3Cpath d='M8.564 1.289L.2 16.256A.5.5 0 0 0 .636 17h16.728a.5.5 0 0 0 .5-.5.494.494 0 0 0-.064-.244L9.436 1.289a.5.5 0 0 0-.872 0zM10 14.75a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25zm0-3a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-6a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25z' fill='%23ec5b62'/%3E%3C/svg%3E");

        &:focus {
            box-shadow: 0 1px 0 var(--md-sys-color-error);
        }
    }

    &.is-valid {
        padding-right: 35px;
        background-size: 12px 12px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12'%3E%3Cpath d='M4.5 10a1.023 1.023 0 0 1-.8-.384l-2.488-3a1 1 0 0 1 1.577-1.233L4.5 7.376l4.712-5.991a1 1 0 1 1 1.576 1.23l-5.511 7A.977.977 0 0 1 4.5 10z' fill='%23268e6c'/%3E%3C/svg%3E");
    }
}
