@use '../../../scss/util' as *;

.root {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    z-index: 999;
    cursor: pointer;

    @include breakpoint(lg) {
        display: block;
    }

    .closeIcon {
        color: var(--spectrum-global-color-gray-600);
        transition: 50ms linear;

        &:hover {
            color: var(--spectrum-global-color-gray-800);
        }
    }
}
