@use '../../../scss/util' as *;

.root {
    width: 100%;

    &::after {
        background-color: rgba(0, 0, 0, 0.32);
        bottom: -1px;
        content: '';
        height: 100vh;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: opacity 0.25s linear;
        transition: opacity 0.25s linear;
        pointer-events: none;
    }

    &.open::after {
        opacity: 1;
        pointer-events: unset;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;

        &__left {
            display: flex;
            align-items: center;
            gap: 50px;
            .logo {
                font-size: 20px;
                gap: 12px;
                font-weight: 700;
                max-height: $header-height;

                span {
                    font-size: 15px;
                    line-height: 15px;
                }

                img {
                    height: 36px;
                }
            }
            .nav {
                display: flex;
                gap: 50px;

                &__link {
                    position: relative;
                    font-size: $fs-md;
                    font-weight: 600;
                    line-height: $header-height;

                    &::after {
                        background-color: var(--md-sys-color-inverse-surface);
                        content: '';
                        height: 2px;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        top: 98%;
                        transition: transform 0.15s, opacity 0.15s;
                    }

                    &:hover::after {
                        opacity: 1 !important;
                    }
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 16px;

            .userControls {
                display: flex;
                gap: 8px;
            }
        }
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        padding: 0 8px;

        .left {
            display: flex;
            align-items: center;
            gap: 8px;

            .logo img {
                width: 32px;
                height: 32px;
            }
        }

        .right {
            display: flex;
            align-items: center;
        }
    }
}

:global {
    .hamburgerMenuActivate {
        display: flex;
        height: 100%;
        align-items: center;
        position: relative;
        margin-top: 1px;
        padding: 0 16px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 0;
    }
}
