@use '../../../scss/util/' as *;

.root {
    width: 100%;

    .social__buttons {
        margin-top: 24px;
        display: flex;
        gap: $gap-lg;

        .social__button {
            .googleIcon {
                border: 2px solid var(--border-color);
                border-radius: 50%;
            }
        }
    }

    .socials__separator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px 0 26px 0;

        &:before,
        &:after {
            content: '';
            flex: 1;
            border-bottom: 1px solid var(--border-color);
        }

        &:before {
            margin-right: 0.5em;
        }

        &::after {
            margin-left: 0.5em;
        }
    }
    .instructions {
        margin: 12px 0 24px;

        p {
            line-height: 27px;
        }

        a {
            color: var(--md-sys-color-primary);
        }
    }

    .fields {
        display: flex;
        flex-direction: column;
        gap: $gap-lg;
        margin: 32px 0 24px;

        .name {
            display: flex;
            gap: $gap-md;

            .field {
                flex-basis: 50%;
            }
        }

        .passwordField {
            position: relative;

            svg {
                height: 18px;
                width: 18px;
            }
        }
    }

    .submit {
        display: flex;
        justify-content: flex-end;
    }
}
