@use '../../scss/util' as *;

.root {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .top {
        gap: 30px;
        display: flex;

        &__img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__info {
            display: flex;
            flex-direction: column;
            gap: $gap-xs;
            .info__headline {
            }
        }
    }

    .all_articles {
        .headline {
            margin-bottom: 30px;
        }
        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;

            @include breakpoint-down(xl) {
                grid-template-columns: repeat(3, 1fr);
            }
            @include breakpoint-down(lg) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
