@use 'sass:math';

// font-size: rem(30);
// throw an error if the parameter has a unit
@function rem($pixel) {
  // If $pixel has a unit, throw an error
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  }
  // Otherwise (else) divide $pixel by 16 to return rems
  @else {
    @error 'Don\'t use  units when using the rem() function; only numbers.';
  }
}

@function em($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + em;
  } @else {
    @error 'Don\'t use  units when using the em() function; only numbers.';
  }
}
