@use '../../scss/util' as *;

main {
    flex-grow: 1;
    @include breakpoint-down(lg) {
        margin-top: 64px;
    }

    &.withMargin {
        @include breakpoint(lg) {
            margin-left: 80px;
        }
    }
}
