@use '../../scss/util' as *;

main {
    flex-grow: 1;
    @include breakpoint-down(lg) {
        margin-top: 64px;
    }

    &.withMargin {
        @include breakpoint(lg) {
            margin-left: 80px;
        }
    }

    .container-fluid {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        &.padding-small {
            padding: 8px;
        }

        &.padding-medium {
            padding: 24px;
        }

        &.padding-large {
            padding: 40px;
        }
    }
}
