@use './../../../../scss/util' as *;

.root {
    margin-top: 48px;
    @include breakpoint-down(lg) {
        margin-bottom: 60px;
    }
    @include breakpoint(lg) {
        display: flex;
        gap: 18px;
        height: 100%;
        z-index: 10;
        align-items: center;
        opacity: 1;
    }

    .buttonGroup {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin-left: 0;

        span {
            font-size: 18px;
        }
    }
}
