@use '../../../styles/util' as *;

.root {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 44px;
    height: 44px;
  }

  .authorName {
    font-size: 20px;
    font-weight: 500;
    @include breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  .subscribersCount {
    font-size: 16px;
  }
}
