@use '@/styles/util/' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .form {
    .content {
      margin-bottom: 24px;

      .instructions {
        line-height: 32px;

        a {
          color: var(--md-sys-color-primary);
        }
      }

      .fields {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 32px;
      }
    }

    .submit {
      display: flex;
      justify-content: flex-end;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 26px 0;
    font-weight: 300;

    &:before,
    &:after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--md-sys-color-outline-variant);
    }

    &:before {
      margin-right: 0.5em;
    }

    &::after {
      margin-left: 0.5em;
    }
  }
}
