@use '../../../scss/util' as *;

.root {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .buttonGroup {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
}
