@use '../../../../../styles/util' as *;

.root {
    .headerDescription {
        font-size: 16px;
        line-height: 24px;
        @include breakpoint-down(sm) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 632px;
        height: 100%;
        transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1),
            background-color 300ms cubic-bezier(0.2, 0, 0, 1);
        border-radius: 24px;
        background: var(--md-sys-color-surface-1);
        color: var(--md-sys-color-on-surface);
        text-decoration: none;
        overflow: hidden;

        &:hover {
            .title {
                font-weight: 600 !important;
            }

            .symbol {
                font-variation-settings: 'wght' 700;
            }
        }

        &:active {
            border-radius: 48px;

            .title {
                font-weight: 400 !important;
            }

            .symbol {
                font-variation-settings: 'wght' 300;
            }
        }

        &:hover,
        &:active,
        &:focus {
            background-color: var(--md-sys-color-secondary-container);
            color: var(--md-sys-color-on-secondary-container);

            .mask svg path {
                fill: var(--md-sys-color-primary) !important;
            }

            .symbol {
                color: var(--md-sys-color-on-secondary) !important;
            }
        }

        &:focus {
            outline: 2px solid var(--md-sys-color-on-surface);

            &:active {
                outline: none;
                border: 1px solid var(--md-sys-color-on-surface);
            }
        }

        .contentContainer {
            display: grid;
            gap: 8px;
            margin: 24px;

            .title {
                margin-right: 56px;
                font-size: 24px;
                line-height: 32px;
                font-weight: 500;
            }

            .description {
                max-width: 640px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                @include breakpoint-down(sm) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .title,
            .description {
                color: var(--md-sys-color-on-surface);
            }
        }

        .iconBadge {
            position: absolute;
            top: 0;
            right: 0;
            display: grid;
            align-items: center;
            justify-items: center;
            width: 40px;
            height: 40px;
            margin: 24px;
            transform-origin: 50%;
            transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
            z-index: 1;

            .mask {
                grid-column: 1;
                grid-row: 1;
                width: inherit;
                height: inherit;

                svg {
                    transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;

                    path {
                        fill: var(--md-sys-color-surface);
                        transition: fill 300ms cubic-bezier(0.2, 0, 0, 1);
                    }
                }
            }

            .symbol {
                grid-column: 1;
                grid-row: 1;
                width: 24px;
                height: 24px;
                color: var(--md-sys-color-on-secondary-container);
            }
        }
    }
}
