.root {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    button {
        width: 48px;
        height: 48px;
        overflow: hidden;
        transition: background-color 300ms cubic-bezier(0.2, 0, 0, 1);
        border: 1px solid var(--md-sys-color-outline);
        border-radius: 32px;

        &:hover,
        &:focus {
            background-color: var(--md-sys-color-on-surface-variant-2);
        }

        &:hover {
            .switch span {
                font-variation-settings: 'FILL' 1, 'wght' 600, 'opsz' 24;
            }
        }

        &:active {
            .switch span {
                font-variation-settings: 'FILL' 1, 'wght' 300, 'opsz' 24;
            }
        }

        .track {
            transition: transform 300ms cubic-bezier(0.2, 0, 0, 1), background-color 0.5s cubic-bezier(0.2, 0, 0, 1),
                background-image 0.5s cubic-bezier(0.2, 0, 0, 1);

            &.isDarkMode {
                transform: translateY(-48px);
            }
        }

        .switch {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            margin-top: -1px;
            margin-left: -1px;

            span {
                width: 24px;
                height: 24px;
                font-weight: 400;
                color: var(--md-sys-color-on-surface-variant);
                transition: font-variation-settings 200ms cubic-bezier(0.2, 0, 0, 1);
            }
        }
    }
}
