<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>{{title}}</title>
  </head>

  <body style='margin:0;font-family:roboto'>
    <table
      class='email-wrapper_mr_css_attr'
      width='100%'
      cellpadding='0'
      cellspacing='0'
      role='presentation'
      style='width: 100%;margin: 0;padding: 40px;-premailer-width: 100%;-premailer-cellpadding: 0;-premailer-cellspacing: 0;background-color: #d9e3f8;'
      data-darkosha-skip='data-darkosha-skip'
    >
      <tbody><tr>
          <td align='center' style="font-family: 'Inter', Helvetica, Arial, sans-serif;font-size: 16px;">
            <table
              class='email-content_mr_css_attr'
              width='100%'
              cellpadding='0'
              cellspacing='0'
              role='presentation'
              style='width: 100%;margin: 0;padding: 0;-premailer-width: 100%;-premailer-cellpadding: 0;-premailer-cellspacing: 0;'
              data-darkosha-skip='data-darkosha-skip'
            >

              <tbody><tr>
                  <td
                    class='email-body_mr_css_attr'
                    width='570'
                    cellpadding='0'
                    cellspacing='0'
                    style="font-family: 'Inter', Helvetica, Arial, sans-serif;font-size: 16px;width: 100%;margin: 0;padding: 0;-premailer-width: 100%;-premailer-cellpadding: 0;-premailer-cellspacing: 0;"
                    data-darkosha-skip='data-darkosha-skip'
                  >
                    <table
                      class='email-body_inner_mr_css_attr'
                      align='center'
                      width='570'
                      cellpadding='0'
                      cellspacing='0'
                      role='presentation'
                      style='border-radius: 16px;width: 570px;margin: 0 auto;padding: 0;-premailer-width: 570px;-premailer-cellpadding: 0;-premailer-cellspacing: 0;background-color: #FFFFFF;'
                      data-darkosha-skip='data-darkosha-skip'
                    >

                      <tbody><tr>
                          <td
                            class='content-cell_mr_css_attr'
                            style="font-family: 'Inter', Helvetica, Arial, sans-serif;font-size: 16px;padding: 45px;"
                          >
                            <div class='f-fallback_mr_css_attr'>
                              <h1
                                style='margin-top: 0;color: #333333;font-size: 22px;font-weight: bold;text-align: left;'
                                data-darkosha-skip='data-darkosha-skip'
                              >Добро пожаловать в The Pirate Journal,</h1>
                              <p
                                style='margin: 0.4em 0 1.1875em;font-size: 16px;line-height: 1.625;color: #51545E;'
                                data-darkosha-skip='data-darkosha-skip'
                              >{{text1}}</p>
                              <p
                                style='margin: 0.4em 0 1.1875em;font-size: 16px;line-height: 1.625;color: #51545E;'
                                data-darkosha-skip='data-darkosha-skip'
                              ><a
                                  href='{{url}}'
                                  class='button_mr_css_attr'
                                  target='_blank'
                                  style='color: #FFFFFF;background-color: #0b57d0;border-top: 10px solid #0b57d0;border-right: 18px solid #0b57d0;border-bottom: 10px solid #0b57d0;border-left: 18px solid #0b57d0;display: inline-block;text-decoration: none;border-radius: 22px;-webkit-text-size-adjust: none;box-sizing: border-box;'
                                  rel=' noopener noreferrer'
                                >{{actionTitle}}</a></p>
                              <p
                                style='margin: 0.4em 0 1.1875em;font-size: 16px;line-height: 1.625;color: #51545E;'
                                data-darkosha-skip='data-darkosha-skip'
                              >Срок действия этой ссылки истекает через 24 часа, и ее можно использовать только один
                                раз.</p>

                            </div>
                          </td>
                        </tr>
                      </tbody></table>
                  </td>
                </tr>
              </tbody></table>
          </td>
        </tr>
      </tbody></table>
  </body>

</html>