.root {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    img {
        width: 44px;
        height: 44px;
    }

    .authorName {
        font-size: 22px;
        font-weight: 500;
    }

    .subscribersCount {
        font-size: 16px;
    }
}
