.root {
  display: flex;
  gap: 15px;
  height: fit-content;
  font-size: 14px;
  font-weight: 600;
  color: var(--md-sys-color-secondary);

  .iconAndCount {
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      font-size: 14px;
      font-variation-settings: 'FILL' 1, 'GRAD' 200;
    }
  }
}
