.content {
  min-width: 200px;
  padding: 8px 0;
  background-color: var(--bg-dropdown);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 999;
}

.subContent {
  padding: 16px;
}

.item {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-right: 36px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  &:hover {
    background-color: var(--md-sys-color-surface-variant);
    outline: none;
  }
}

.separator {
  height: 1px;
  background-color: var(--bg-dropdown-separator);
}
