@use '../../../scss/util' as *;

.root {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 16px;
    z-index: 999;

    @include breakpoint-down(sm) {
        width: calc(100% - 32px);
    }

    .dialogPanel {
        max-width: 344px;
        padding: 16px 32px;
        background-color: var(--md-sys-color-inverse-surface);
        border-radius: 8px;
        @include breakpoint-down(sm) {
            max-width: unset;
            padding: 12px 24px;
        }

        .actionText {
            font-size: 14px;
            line-height: 20px;
            color: var(--md-sys-color-inverse-on-surface);
        }
    }
}
