.root {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-height: 100%;
    }
}

:global {
    .spectrum-CircleLoader-fill_7c1153 {
        border-color: var(--md-sys-color-primary);
    }
}
