@use '../../../scss/util' as *;

.root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    min-width: 72px;
    min-height: 32px;
    padding: 3.5px 14px 4.5px;
    gap: 8px;
    color: var(--white);
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    font-size: $fs-sm;
    line-height: 1.3;
    font-weight: 700;
    overflow: visible;
    vertical-align: top;
    transition: background 0.13s ease-out, border-color 0.13s ease-out, color 0.13s ease-out,
        box-shadow 0.13s ease-out, -webkit-box-shadow 0.13s ease-out;
    text-decoration: none;
    cursor: pointer;

    &:global {
        &.cta {
            background-color: var(--btnCta-color);
            border-color: var(--btnCta-br-color);
            color: var(--white);

            &:hover,
            &:active {
                background-color: var(--btnCta-color-hover);
                border-color: var(--btnCta-br-color-hover);
                box-shadow: none;
            }
        }

        &.primary {
            background-color: var(--btn-color);
            border-color: var(--btn-br-color);
            color: var(--btn-text-color);

            &:hover {
                background-color: var(--btn-color-hover);
                border-color: var(--btn-br-color-hover);
                color: var(--btn-text-color-hover);
            }
            &:active {
                background-color: var(--btn-color-active);
                border-color: var(--btn-br-color-active);
                color: var(--btn-text-color-active);
            }
        }
    }

    &:disabled {
        background-color: #f4f4f4;
        border-color: #f4f4f4;
        color: #bcbcbc;
        cursor: default;

        &:hover {
            background-color: #f4f4f4;
            border-color: #f4f4f4;
            color: #bcbcbc;
        }
    }

    :focus {
        outline: 0;
    }

    :focus-visible {
        outline: 1px dotted ButtonText;
    }
}
