@use '../../../scss/util' as *;

.root {
    max-width: 402px;
    width: 100%;
    @include breakpoint-down(lg) {
        max-width: unset;
    }

    .scrollContainer {
        margin-bottom: 18px;

        .ironSelector {
            display: flex;
            gap: 8px;

            .cloudChip {
                display: flex;
                align-items: center;
                height: 32px;
                min-width: 12px;
                padding: 0 12px;
                border-radius: 8px;
                background-color: var(--md-sys-color-surface-3);
                color: var(--md-sys-color-on-surface);
                font-size: 14px;
                overflow: hidden;
                cursor: pointer;
                transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);

                &:hover {
                    background-color: var(--md-sys-color-surface-variant);
                }

                &.active {
                    background-color: var(--md-sys-color-primary);
                    color: var(--md-sys-color-on-primary);
                }
            }
        }
    }

    .listContainer {
        position: relative;

        .list {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &.loading {
                opacity: 0.25;
            }
        }

        .loaderContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            margin: auto;
            z-index: 1;
        }
    }

    .loadingBtn {
        width: 100%;
        margin-top: 8px;
    }
}
