@use '@/styles/util' as *;

.root {
  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0 24px;
    @include breakpoint(lg) {
      padding: 80px 0 32px;
    }

    .articlesContainer {
      display: flex;
      flex-flow: wrap;
      align-items: center;
    }
  }
}
