.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 15px;
  min-height: 56px;
  border-radius: 100px;
  background-color: #3083ff;
  color: #ffffff;

  svg {
    width: 18px;
    height: 18px;
  }

  span {
    font-weight: 700;
    font-size: 14px;
  }
}
