@use '../../scss/util' as *;

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;

        img {
            @include breakpoint-down(sm) {
                height: 280px;
            }
        }

        .headline {
            color: var(--md-sys-color-primary);
            font-weight: 700;
        }

        p {
            font-size: 32px;
            font-weight: 700;

            @include breakpoint-down(sm) {
                font-size: 28px;
            }
        }

        button {
            margin-top: 24px;
        }
    }
}
