@use '../util' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  overflow-y: overlay;
  font-family: var(--roboto-font);
}

html,
body,
#__next,
.container {
  height: 100%;
}

body {
  touch-action: pan-x pan-y;
  color: var(--md-sys-color-on-surface);
  transition: background-color 0.15s, color 0.25s;
}

[data-theme] body {
  background-color: var(--md-sys-color-surface);
}

[data-theme='light'] body {
  color: #212121;
}

span {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  color: var(--md-sys-color-on-surface);
}

button {
  background-color: unset;
  border: none;
  width: fit-content;
  cursor: pointer;
  &:focus-visible {
    outline: none;
  }
}

input {
  outline: none !important;

  &::placeholder {
    color: var(--md-sys-color-on-surface);
  }
}

::-webkit-scrollbar {
  width: 8px;

  &-thumb {
    border: 0px solid transparent;
    background-clip: padding-box;
    border-radius: 16px;
    background-color: rgba(var(--md-sys-color-on-surfaceChannel) / 0.3);

    &:hover {
      background-color: rgba(var(--md-sys-color-on-surfaceChannel) / 0.5);
    }
  }
}
