@use '../util' as *;

.container-fluid {
  max-width: 1304px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  @include breakpoint-down(sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.vessel-container {
  max-width: 768px;
  width: 100%;

  @include breakpoint(sm) {
    margin: 0 auto;
  }
  @include breakpoint(xl) {
    margin: 0;
  }
}

.overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.24);
}

.scrollTarget {
  position: absolute;
  top: -1em;
}

.relative {
  position: relative;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.circle-center {
  display: flex;
  justify-content: center;
}

.full-hidden {
  overflow: 0;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

.icon-thin {
  font-variation-settings: 'wght' 300;
}
