:root {
    /* Label Large */
    --md-sys-typescale-label-large-text-transform: unset;
    --md-sys-typescale-label-large-axis-value: unset;
    --md-sys-typescale-label-large-font-style: unset;
    --md-sys-typescale-label-large-text-decoration: unset;
    /* Label Large line height */
    --md-sys-typescale-label-large-line-height-value: 20px;
    --md-sys-typescale-label-large-line-height-unit: 2px;
    --md-sys-typescale-label-large-line-height: 20px;
    /* Label Large font tracking */
    --md-sys-typescale-label-large-tracking-value: 0.10000000149011612px;
    --md-sys-typescale-label-large-tracking-unit: 2px;
    --md-sys-typescale-label-large-tracking: 0.10000000149011612px;
    /* Label Large font size */
    --md-sys-typescale-label-large-size-value: 14px;
    --md-sys-typescale-label-large-size-unit: 2px;
    --md-sys-typescale-label-large-size: 14px;
    /* Label Large font weight */
    --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
    /* Label Large font name */
    --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);

    /* Body Large */
    --md-sys-typescale-body-large-text-transform: unset;
    --md-sys-typescale-body-large-axis-value: unset;
    --md-sys-typescale-body-large-font-style: unset;
    --md-sys-typescale-body-large-text-decoration: unset;
    /* Body Large line height */
    --md-sys-typescale-body-large-line-height-value: 24px;
    --md-sys-typescale-body-large-line-height-unit: 2px;
    --md-sys-typescale-body-large-line-height: 24px;
    /* Body Large font tracking */
    --md-sys-typescale-body-large-tracking-value: 0.5px;
    --md-sys-typescale-body-large-tracking-unit: 2px;
    --md-sys-typescale-body-large-tracking: 0.5px;
    /* Body Large font size */
    --md-sys-typescale-body-large-size-value: 16px;
    --md-sys-typescale-body-large-size-unit: 2px;
    --md-sys-typescale-body-large-size: 16px;
    /* Body Large font weight */
    --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
    /* Body Large font name */
    --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);

    /* Title Large */
    --md-sys-typescale-title-large-text-transform: unset;
    --md-sys-typescale-title-large-axis-value: unset;
    --md-sys-typescale-title-large-font-style: unset;
    --md-sys-typescale-title-large-text-decoration: unset;
    /* Title Large line height */
    --md-sys-typescale-title-large-line-height-value: 28px;
    --md-sys-typescale-title-large-line-height-unit: 2px;
    --md-sys-typescale-title-large-line-height: 28px;
    /* Title Large font tracking */
    --md-sys-typescale-title-large-tracking-value: 0px;
    --md-sys-typescale-title-large-tracking-unit: 2px;
    --md-sys-typescale-title-large-tracking: 0px;
    /* Title Large font size */
    --md-sys-typescale-title-large-size-value: 22px;
    --md-sys-typescale-title-large-size-unit: 2px;
    --md-sys-typescale-title-large-size: 22px;
    /* Title Large font weight */
    --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
    /* Title Large font name */
    --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);

    /* Headline Large */
    --md-sys-typescale-headline-large-text-transform: unset;
    --md-sys-typescale-headline-large-axis-value: unset;
    --md-sys-typescale-headline-large-font-style: unset;
    --md-sys-typescale-headline-large-text-decoration: unset;
    /* Headline Large line height */
    --md-sys-typescale-headline-large-line-height-value: 40px;
    --md-sys-typescale-headline-large-line-height-unit: 2px;
    --md-sys-typescale-headline-large-line-height: 40px;
    /* Headline Large font tracking */
    --md-sys-typescale-headline-large-tracking-value: 0px;
    --md-sys-typescale-headline-large-tracking-unit: 2px;
    --md-sys-typescale-headline-large-tracking: 0px;
    /* Headline Large font size */
    --md-sys-typescale-headline-large-size-value: 32px;
    --md-sys-typescale-headline-large-size-unit: 2px;
    --md-sys-typescale-headline-large-size: 32px;
    /* Headline Large font name */
    --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
    /* Headline Large font weight */
    --md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular);

    /* Display Large */
    --md-sys-typescale-display-large-text-transform: unset;
    --md-sys-typescale-display-large-axis-value: unset;
    --md-sys-typescale-display-large-font-style: unset;
    --md-sys-typescale-display-large-text-decoration: unset;
    /* Display Large line height */
    --md-sys-typescale-display-large-line-height-value: 64px;
    --md-sys-typescale-display-large-line-height-unit: 2px;
    --md-sys-typescale-display-large-line-height: 64px;
    /* Display Large font tracking */
    --md-sys-typescale-display-large-tracking-value: -0.25px;
    --md-sys-typescale-display-large-tracking-unit: 2px;
    --md-sys-typescale-display-large-tracking: -0.25px;
    /* Display Large font size */
    --md-sys-typescale-display-large-size-value: 57px;
    --md-sys-typescale-display-large-size-unit: 2px;
    --md-sys-typescale-display-large-size: 57px;
    /* Display Large font weight */
    --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
    /* Display Large font name */
    --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
    /* Plain typeface */
    --md-ref-typeface-plain: Roboto;
    /* Brand typeface */
    --md-ref-typeface-brand: Roboto;
    /* Bold weight */
    --md-ref-typeface-weight-bold: 700;
    /* Medium weight */
    --md-ref-typeface-weight-medium: 500;
    /* Regular weight */
    --md-ref-typeface-weight-regular: 400;
}
/* Label Large */
.label-large {
    // font-family: var(--md-sys-typescale-label-large-font);
    font-weight: var(--md-sys-typescale-label-large-weight);
    font-size: var(--md-sys-typescale-label-large-size);
    font-style: var(--md-sys-typescale-label-large-font-style);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    line-height: var(--md-sys-typescale-label-large-line-height);
    text-transform: var(--md-sys-typescale-label-large-text-transform);
    text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
