.simple-image {
    padding: 20px 0;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        outline: none;
        font-size: 14px;
    }
    img {
        max-width: 100%;
        margin-bottom: 15px;
    }
    &.withBorder img {
        border: 1px solid #e8e8eb;
    }
    &.withBackground {
        background: #eff2f5;
        padding: 10px;

        img {
            display: block;
            max-width: 60%;
            margin: 0 auto 15px;
        }
    }
}
.cdx-button {
    background-color: currentColor;
}
