@use '../../../scss/util' as *;

.root {
    .tabMenu__wrapper {
        height: 37px;
        padding-top: 5px;
        border-bottom: 1px solid var(--spectrum-well-border-color);
        @include breakpoint(sm) {
            height: 48px;
        }
        .tabMenu {
            display: flex;
            height: 100%;
            gap: 16px;

            &__tab {
                height: 100%;
                font-size: 18px;
                font-weight: 700;

                a {
                    display: inline-block;
                    height: 100%;
                    color: var(--spectrum-global-color-gray-600);

                    &.active {
                        border-bottom: 2px solid var(--spectrum-global-color-gray-900);
                        color: var(--spectrum-global-color-gray-900) !important;
                    }
                }
            }
        }
    }
}
