@use '../../scss/util' as *;

.homeSection {
    width: 100%;
    max-width: 1200px;
}

.contentContainer {
    width: 100%;
    max-width: 1200px;
    margin-top: 96px;
}

.authorChoiceList {
    grid-template-columns: repeat(2, 1fr);
}

.newestArticlesList,
.bestOfWeekList {
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    @include breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.authorChoiceList,
.bestOfWeekList,
.newestArticlesList {
    --min-row-height: 320px;
    --stacked-col-max-height: 198px;
    display: grid;
    gap: 8px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(var(--min-row-height), auto);
    @include breakpoint-down(sm) {
        grid-template-columns: 1fr;
    }
}
.sectionHeader {
    margin: 24px;

    h2 {
        margin-bottom: 8px;
        font-size: 52px;
        line-height: 58px;
        color: var(--md-sys-color-on-surface) !important;
        font-weight: 400 !important;
        @include breakpoint-down(sm) {
            font-size: 36px;
            line-height: 44px;
        }
    }

    p {
        max-width: 760px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: var(--md-sys-color-on-surface-variant);
    }
}
