@use '../../scss/util' as *;

.root {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 20px;

    .top {
        gap: 30px;
        display: flex;

        &__img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__info {
            display: flex;
            flex-direction: column;
            gap: $gap-xs;
            .info__headline {
            }
        }
    }
}
