.root {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    z-index: 999;

    .dialogOverlay {
        position: fixed;
        inset: 0 0 0 0;
        background-color: rgba(0, 0, 0, 0.32);
        z-index: 1;
    }

    .dialogPanel {
        padding: 24px;
        background-color: var(--md-sys-color-surface);
        border-radius: 12px;

        .title {
            margin-bottom: 16px;
            font-size: 16px;
        }

        .description {
            font-size: 14px;
            line-height: 20px;
        }

        .buttonGroup {
            display: flex;
            justify-content: flex-end;
            gap: 8px;
            margin-top: 24px;
        }
    }
}
