@use '../../../../scss/util' as *;

:global {
    .cdx-loader {
        width: 100%;
        height: 100%;
        border: none;

        &::before {
            width: 36px;
            height: 36px;
        }
    }
}

.root {
    .container {
        height: 240px;

        .placeholder {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .uploader {
                position: relative;
                height: auto;
                border: 2px dashed var(--spectrum-global-color-gray-200);
                border-radius: 12px;
                cursor: pointer;

                .placeholder__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 40px 24px 6px 24px;

                    .placeholderPicture {
                        span {
                            font-size: 48px;
                        }
                        color: var(--md-sys-color-primary);
                    }

                    .headline {
                        margin-top: 16px;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--md-sys-color-primary);
                    }
                }
            }
        }
    }
}

.coverContainer {
    width: 100%;
    max-height: 240px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        .closeBtn {
            opacity: 1;
        }
    }

    .coverImage {
        max-height: inherit;
        height: inherit;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .closeBtn {
        position: absolute;
        top: 12px;
        right: 12px;
        transition: opacity 0.2s ease;
        opacity: 0;
        cursor: pointer;
    }
}
