.textarea {
  max-width: 680px;
  width: 100%;
  min-height: 80px;
  padding: 12px;
  background-color: transparent;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  font-weight: 500;
  &:focus-within {
    border: 1px solid var(--md-sys-color-surface);
    outline: 2px solid var(--md-sys-color-primary);
  }
  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--md-sys-color-secondary-text);
  }
}
