@use '@/styles/util' as *;

.root {
  position: sticky;
  top: 0;
  padding: 0 24px;
  background-color: var(--md-sys-color-surface);
  transition: background-color 0.15s, color 0.25s;
  z-index: 999;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    height: 72px;
    margin: 0 auto;

    .rightPart {
      display: flex;
      gap: 12px;
    }
  }
}
