@use '../../../../scss/util/' as *;

.root {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    height: 160px;
    margin-top: 40px;
    padding-left: 40px;
    @include breakpoint-down(lg) {
        flex-direction: row;
        align-self: self-start;
        justify-content: flex-start;
        gap: 16px;
        height: 100px;
        margin-top: 32px;
        margin-bottom: 0;
        padding-left: 0;
    }

    .link {
        width: fit-content;
        font-family: 'Roboto Mono';
        font-size: 13.3333px;
        background-color: var(--md-sys-color-surface-2);

        &:hover {
            background-color: var(--md-sys-color-surface-3);
        }

        &:active {
            background-color: var(--md-sys-color-surface-5);
        }

        svg {
            border-radius: 3px;
            fill: none;

            path {
                fill: var(--md-sys-color-on-surface);
            }
        }
    }
}
