@use '@/styles/util/' as *;

.root {
  width: 100%;

  .socialButtons {
    display: flex;
    margin-top: 32px;
  }

  .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 26px 0;
    font-weight: 300;

    &:before,
    &:after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--md-sys-color-outline-variant);
    }

    &:before {
      margin-right: 0.5em;
    }

    &::after {
      margin-left: 0.5em;
    }
  }

  .instructions {
    margin: 12px 0 24px;
    color: var(--md-sys-color-on-surface-variant);

    .withEmail {
      font-weight: 500;
    }

    p {
      font-weight: 400;
      line-height: 27px;
    }

    a {
      color: var(--md-sys-color-primary);
    }
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    margin: 32px 0 24px;

    .name {
      display: flex;
      gap: $gap-md;

      .field {
        flex-basis: 50%;
      }
    }
  }

  .submit {
    display: flex;
    justify-content: flex-end;
  }
}
