@use '../../scss/util/' as *;

.root {
    width: 100%;
    padding: 24px 18px;
    background-color: var(--md-sys-color-surface);
    height: 100vh;
    color: var(--md-sys-color-on-surface);
    @include breakpoint(sm) {
        min-height: 630px;
        height: unset;
        padding: 40px 56px;
        border-radius: $br-sm;
    }

    .header {
        margin-bottom: 8px;

        .logo {
            margin-bottom: 12px;
            img {
                height: 18px;
            }

            span {
                margin-left: 4px;
                font-size: 14px;
                font-weight: 700;
                color: var(--md-sys-color-on-surface-variant);
            }
        }

        h2 {
            font-size: 33px;
        }
    }

    .content {
        display: flex;
    }
}
