.root {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 15px 0 15px;
    background-color: var(--spectrum-global-color-gray-100);
    border-top: 1px solid;
    border-top-color: var(--spectrum-well-border-color);
    text-align: center;
    transition: background-color 450ms ease-in-out, transform 350ms ease,
        border-top-color 450ms ease-in-out;

    .buttonGroup {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .controls,
        .ownerControls {
            display: flex;
            gap: 14px;
        }
    }
}
