@use '../../../styles/util' as *;

.plateContent {
  display: flex;
  min-height: 540px;
  height: 100%;
  width: 860px;
  z-index: 999;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 4px;
  @include breakpoint-down(lg) {
    flex-direction: column;
    max-height: 80vh;
    width: 100%;
    overflow: auto;
  }

  .coverColumn {
    width: 364px;
    padding: 32px;
    background-color: var(--md-sys-color-inverse-on-surface);
    @include breakpoint(lg) {
      border-right: 1px solid var(--md-sys-color-outline-variant);
    }
    @include breakpoint-down(lg) {
      width: 100%;
    }
  }

  .settingsColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 32px;
    padding: 32px;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 32px;
  @include breakpoint-down(lg) {
    margin: 16px;
    background-color: var(--md-sys-color-surface);
  }

  button {
    height: 36px;
  }
}
