.confirmDialogItemLabel {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  span {
    font-size: 12px;
    font-weight: 400;
    color: var(--md-sys-color-secondary);
  }
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 46px;
  padding: 0 12px;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 4px;
  &:focus-within {
    border: 1px solid var(--md-sys-color-surface);
    outline: 2px solid var(--md-sys-color-primary);
  }

  input {
    flex: 1;
    height: 44px;
    border: none;
    font-size: 14px;
    font-weight: 500 !important;
    background-color: transparent;
    &:focus {
      outline: transparent;
      box-shadow: none;
    }
    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: var(--md-sys-color-secondary);
    }
  }
}
