@use '../../scss/util/' as *;

:global {
    .active::before,
    .active::after {
        opacity: 1 !important;
    }
}

:global(.dark) {
    .fixed {
        @include breakpoint-down(lg) {
            background-color: var(--md-sys-color-surface) !important;
        }
    }
}

.root {
    position: relative;
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: var(--md-sys-color-surface-2);
    transition: background-color 0.2s ease-out;
    z-index: 9;

    .fixed {
        width: 100%;
        transition: background-color 0.2s ease-out;
        @include breakpoint-down(lg) {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            background-color: #ffffff;
        }

        .overlay {
            opacity: 0;
            visibility: hidden;
            z-index: 8;
            transition: opacity 0.25s linear;

            &.visible {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
