@use '../../scss/util/' as *;

:global {
    .active::before,
    .active::after {
        opacity: 1 !important;
    }
}

:global(.dark) {
    .root {
        background-color: var(--md-sys-color-surface);
    }
}

.root {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--md-sys-color-surface-variant);
    background-color: #ffffff;
    transition: background-color 0.2s ease-out;
    z-index: 9;
    @include breakpoint-down(lg) {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 0;
        border: none;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &.isPrimary {
        background-color: var(--md-sys-color-primary-container);
    }

    .fixedContainer {
        width: 100%;
        transition: background-color 0.2s ease-out;

        .overlay {
            opacity: 0;
            visibility: hidden;
            z-index: 8;
            transition: opacity 0.25s linear;

            &.visible {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
