@use '@/styles/util' as *;

.root {
  @include breakpoint(lg) {
    margin-top: 72px;
  }

  figure {
    @include breakpoint(lg) {
      margin: 0 -40px;
    }
    @include breakpoint(xl) {
      margin: 0 -80px;
    }

    .coverContainer {
      position: relative;
      height: fit-content;

      .articleCover {
        max-height: 760px;
        height: auto;
        max-width: 100%;
        border-radius: 32px;
      }
    }
  }
}
