@use '../../styles/util' as *;

.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &.padding-small {
    padding: 0 8px;
  }

  &.padding-medium {
    padding: 0 24px;
  }

  &.padding-large {
    padding: 0 32px;
    @include breakpoint-down(lg) {
      padding: 0 24px;
    }
  }
}
