@use '../../styles/util' as *;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  @include breakpoint(lg) {
    background-color: var(--md-sys-color-surface-1);
    transition: background-color 0.2s ease-out;
  }

  .main {
    @include breakpoint(lg) {
      flex-grow: 1;
      margin: 0 16px 16px 16px;
      overflow-y: hidden;
      border-radius: 16px;
      background-color: var(--md-sys-color-surface);

      &.withMargin {
        margin-left: 80px;
      }
    }

    .wrap {
      height: 100%;
      @include breakpoint(lg) {
        overflow-y: scroll;
        overflow-y: overlay;

        .hidden {
          overflow-y: hidden;
        }
      }
    }
  }
}
