.root {
  margin-right: 80px;

  img {
    height: 36px;
  }

  span {
    width: auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--md-sys-color-on-surface);
  }
}
