@use '../../styles/util' as *;

.root {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    overflow: hidden;

    &:hover .top__img {
        filter: none;
    }

    .top {
        position: relative;

        &__img {
            position: relative;
            min-width: 160px;
            min-height: 190px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 16px;
            filter: brightness(0.95);
            transition: filter ease-in-out 0.2s;
        }

        .bookmark__wrapper {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52px;
            height: 52px;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: initial;
        width: 100%;
        height: 60px;
        margin-top: 12px;

        .info {
            max-width: 75%;
            width: 100%;
            padding-right: 15px;

            .headline {
                display: block;
                max-width: 100%;
                max-height: 44px;
                margin-bottom: 4px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .author {
                display: block;
                width: fit-content;
                max-width: 100%;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--md-sys-color-on-surface-variant);
            }
        }
    }
}
