.root {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 6px 16px;
  color: var(--md-sys-color-on-surface);
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  transition: box-shadow, 0.2s;

  &.selected {
    background-color: var(--md-sys-color-secondary-container);
    padding: 0 16px 0 39px;
    border: none;

    .icon {
      transform: scale(1);
    }
  }

  .icon {
    position: absolute;
    left: 0;
    padding: 0px 8px;
    transform: scale(0);
    transition: transform 0.9s;
  }
}
