@use '../../styles/util' as *;

.root {
    position: fixed;
    background-color: var(--md-sys-color-surface);
    border-radius: 12px;
    z-index: 999;
}

.title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}

.content {
    font-size: 14px;
    line-height: 20px;
}

.controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}
