.root {
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    color: #505050;
    position: absolute;
    right: 0;
    top: -2px;

    &:hover {
        color: #323232;

        svg path {
            fill: #323232;
        }
    }

    svg path {
        fill: #747474;
    }
}
