@use '../../../scss/util' as *;

.root {
    display: flex;
    align-items: center;
    height: 100%;

    .fixed {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;

        .hamburgerMenu {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 48px;
            height: 100vh;
            width: 100%;
            padding: 12px 0;
            transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
            background-color: var(--spectrum-global-color-gray-100);
            will-change: transform;
            z-index: 1;

            .loginOrCreate {
                display: flex;
                justify-content: end;
                padding: 0 24px;
            }

            .nav {
                display: flex;
                flex-direction: column;
                gap: 32px;

                &__link {
                    position: relative;
                    padding: 0 16px;
                    font-size: $fs-md;
                    font-weight: 600;

                    &::before {
                        background-color: var(--spectrum-global-color-gray-800);
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 4px;
                        width: 4px;
                        height: 18px;
                        opacity: 0;
                        transition: transform 0.15s, opacity 0.15s;
                    }

                    &:hover::before {
                        opacity: 1 !important;
                    }
                }
            }

            .profile {
                padding: 0 16px;
            }
        }

        .strip {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $header-height;

            &Left {
                display: flex;
                align-items: center;
                .hamburgerMenuActivate {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    position: relative;
                    margin-top: 1px;
                    padding: 0 16px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    z-index: 2;

                    .hamburgerButton {
                        width: 15px;

                        .hamburgerLine {
                            background-color: var(--spectrum-global-color-gray-900);
                            height: 2px;
                            margin-bottom: 3px;
                            transition-duration: 0.25s;
                            transition-property: opacity, -webkit-transform;
                            transition-property: transform, opacity;
                            transition-property: transform, opacity, -webkit-transform;
                            -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }

                    &.open {
                        .hamburgerButton {
                            margin-right: -2px;
                            width: 17px;

                            .hamburgerLine:nth-child(1) {
                                transform: translateY(4.8px) rotate(45deg);
                            }
                            .hamburgerLine:nth-child(2) {
                                opacity: 0;
                            }
                            .hamburgerLine:nth-child(3) {
                                transform: translateY(-5px) rotate(-45deg);
                            }
                        }
                    }
                }
                .logo img {
                    width: 32px;
                    height: 32px;
                }
            }

            .stripRight {
                padding-right: 16px;
            }
        }
    }
}
