.root {
    width: 100%;
    max-width: 720px;
    padding: 4px 0 4px 16px !important;
    border-radius: 8px !important;

    p {
        max-width: unset !important;
    }

    button {
        color: var(--md-sys-color-inverse-primary);
    }
}
