.root {
    .commentContainer {
        display: flex;
        gap: 16px;
        min-width: 0;

        .main {
            .commentTextContainer {
                overflow: hidden;

                .commentUserDateWrap {
                    .username {
                        font-weight: 700;
                        margin-right: 2px;
                    }

                    .commentDate {
                        font-size: 11px;

                        &::before {
                            content: '•';
                            margin: 0px 4px 0px 2px;
                        }
                    }
                }

                .commentText {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    display: -webkit-box;
                    word-break: break-word;
                }

                .overflowTextButton {
                    font-family: Roboto, sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    color: var(--md-sys-color-secondary);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .actionButtons {
                margin-top: 4px;
                margin-left: -18px;

                .likeBlock {
                    button {
                        height: 32px;
                        font-variation-settings: 'wght' 300;

                        .buttonText {
                            font-size: 14px !important;
                            font-weight: 400 !important;
                        }
                    }
                }
            }
        }
    }
}
