@use '../../scss/util' as *;

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;

    @include breakpoint(md) {
        padding: 30px 9px;
    }

    .top_bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(lg) {
            position: sticky;
            top: 30px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 968px;

        .textarea__wrapper {
            width: 100%;

            display: flex;
            justify-content: center;
            margin: 32px 0 24px;

            @include breakpoint(md) {
                margin: 48px 0 32px;
            }

            .writingHeader {
                background-color: transparent;
                max-width: 656px;
                width: 100%;
                border: none;
                resize: none;
                outline: 0 !important;
                font-size: 32px;
                line-height: 1.3em;
                font-family: Segoe UI, Roboto, sans-serif;
                font-weight: 700;
                color: currentColor;

                &::placeholder {
                    color: var(--spectrum-global-color-gray-600);
                }
            }
        }
    }
}

:global {
    .ce-header {
        margin-bottom: 35px;
        font-weight: 700;

        &::placeholder {
            font-weight: 700;
        }
    }
    #editorjs {
        .codex-editor__redactor {
            font-size: 16px;
            word-break: break-word;
            .ce-block {
                &__content {
                    max-width: 752px;
                }
                &--selected {
                    .ce-block__content {
                        background-color: var(--spectrum-global-color-gray-300);
                    }
                }
            }
        }
        .ce-toolbar {
            display: block;
            &__content {
                max-width: 752px;

                .ce-toolbar__actions {
                    opacity: 1;

                    .ce-toolbar__plus,
                    .ce-toolbar__settings-btn {
                        color: currentColor;

                        &:hover {
                            background-color: var(--spectrum-global-color-gray-300);
                        }
                    }
                    .ce-toolbar__plus {
                    }
                    .ce-toolbar__settings-btn {
                    }

                    .ce-toolbox {
                        .ce-popover {
                            background-color: var(--spectrum-global-color-gray-300);
                            border: none;
                            padding: 12px;

                            .cdx-search-field {
                                display: none;
                            }

                            &__items {
                                .ce-popover__item {
                                    &:hover {
                                        background-color: var(--spectrum-global-color-gray-900);
                                        color: var(--spectrum-global-color-gray-100);

                                        .ce-popover__item-icon {
                                            border-color: var(--spectrum-global-color-gray-100);
                                        }
                                    }

                                    &--focused {
                                        background-color: var(
                                            --spectrum-global-color-gray-200
                                        ) !important;
                                        border: none;

                                        &:hover {
                                            color: var(--spectrum-global-color-gray-800);

                                            .ce-popover__item-icon {
                                                border-color: var(--spectrum-global-color-gray-800);
                                            }
                                        }
                                    }

                                    &-label {
                                        font-weight: 600;
                                    }
                                    &-icon {
                                        background-color: inherit;
                                        border: 2px solid var(--spectrum-global-color-gray-800);
                                    }
                                }
                            }
                        }
                    }

                    .ce-settings {
                        color: currentColor;
                        background-color: var(--spectrum-global-color-gray-300);
                        border: none;

                        &__button,
                        .cdx-settings-button {
                            color: currentColor;

                            &:hover {
                                background-color: var(--spectrum-global-color-gray-900);
                                color: var(--spectrum-global-color-gray-200);
                            }

                            &--active {
                                background-color: var(--spectrum-global-color-gray-200);
                            }
                        }
                    }
                }
            }
        }
    }
}
