@use '../../scss/util' as *;

.root {
    padding: 30px 0;

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;

        &__author {
            display: flex;
            gap: $gap-lg;
            img {
                width: 40px;
                height: 40px;
            }
            .author__text {
                .headline {
                    font-weight: 500;
                    margin-bottom: 3px;
                }
            }
        }

        &__labels {
            .labels__publish {
                position: relative;
                display: flex;
                align-items: center;
                gap: $gap-xs;
                font-size: $fs-sm;
                color: var(--black70);
                cursor: pointer;
            }
        }

        &__right {
            display: flex;
            gap: $gap-md;
        }
    }
}

:global {
    .ce-header {
        margin-bottom: 35px;
        font-weight: 700;

        &::placeholder {
            font-weight: 700;
        }
    }
    #editorjs {
        .codex-editor__redactor {
            font-size: 16px;
            word-break: break-word;
            .ce-block {
                &--selected {
                    .ce-block__content {
                        background-color: var(--spectrum-global-color-gray-300);
                    }
                }
            }
        }
        .ce-toolbar {
            &__content {
                .ce-toolbar__plus,
                .ce-toolbar__settings-btn {
                    color: currentColor;

                    &:hover {
                        background-color: var(--spectrum-global-color-gray-300);
                    }
                }
                .ce-toolbar__plus {
                }
                .ce-toolbar__settings-btn {
                }

                .ce-toolbox {
                    .ce-popover {
                        background-color: var(--spectrum-global-color-gray-300);
                        border: none;
                        padding: 12px;

                        .cdx-search-field {
                            display: none;
                        }

                        &__items {
                            .ce-popover__item {
                                &:hover {
                                    background-color: var(--spectrum-global-color-gray-900);
                                    color: var(--spectrum-global-color-gray-100);

                                    .ce-popover__item-icon {
                                        border-color: var(--spectrum-global-color-gray-100);
                                    }
                                }

                                &--focused {
                                    background-color: var(
                                        --spectrum-global-color-gray-200
                                    ) !important;
                                    border: none;

                                    &:hover {
                                        color: var(--spectrum-global-color-gray-800);

                                        .ce-popover__item-icon {
                                            border-color: var(--spectrum-global-color-gray-800);
                                        }
                                    }
                                }

                                &-label {
                                    font-weight: 600;
                                }
                                &-icon {
                                    background-color: inherit;
                                    border: 2px solid var(--spectrum-global-color-gray-800);
                                }
                            }
                        }
                    }
                }

                .ce-settings {
                    color: currentColor;
                    background-color: var(--spectrum-global-color-gray-300);
                    border: none;

                    &__button,
                    .cdx-settings-button {
                        color: currentColor;

                        &:hover {
                            background-color: var(--spectrum-global-color-gray-900);
                            color: var(--spectrum-global-color-gray-200);
                        }

                        &--active {
                            background-color: var(--spectrum-global-color-gray-200);
                        }
                    }
                }
            }
        }
    }
}
