.tabTrigger {
  border-left: 1px solid var(--md-sys-color-outline-variant);

  &::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid var(--md-sys-color-on-surface);
    content: '';
    height: 0;
    position: absolute;
    right: 19px;
    top: 23px;
    width: 0;
  }

  select {
    display: block;
    height: 50px;
    padding: 10px 19px;
    padding-right: 40px;
    appearance: none;
    border: none;
    border-radius: 999px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .menu {
    background-color: #ffffff;
  }
}

.tabNavigation {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--md-sys-color-outline-variant);
  border-bottom-right-radius: 999px;
  border-top-right-radius: 999px;

  .tabList {
    display: flex;
    padding: 12px 16px;

    .tabItem {
      display: flex;
      align-items: center;
      border-radius: 999px;
      font-size: 14px;
      font-weight: 600;
      justify-content: center;
      padding: 8px 16px 8px 16px;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;

      &.active {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
      }
    }
  }
}
